extends index

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Clark Hinchcliff
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#home') Home
          li
            a(href='#about') About
          li
            a(href='#projects') Projects
          li
            a(href='#contact') Contact
    .container-fluid
      #home.row
        .text-center
          h2#headline Make it Useful
          h4#statement Make it Beautiful
    .container-fluid
      #about.row
        h3.text-center.underline About
        p.explanation
          | Before becoming the badass fullstack developer he is today, Clark has worked as a recreational therapist, a customer service rep, a fast food manager, and a stadium supervisor.
        p.explanation
          | Clark prefers to work with useful and interesting projects or companies. If you need help building an application that will change people's lives for the better, feel free to reach out.
    #projects
      h3.text-center.underline Projects
      .container
        .row
          a(href='http://new-world-radio.herokuapp.com/', target='_blank')
            br
            img.img-responsive.center-block(src='images/new-world-radio.png')
          p.explanation
            | Meet New World Radio. This project was created to play music from any major country from any year between 1940-2014 and be reminiscent of the old black and white iPod. While the project is now deprecated after changes to the source APIs, you can still view the source code 
            a.text-primary(href='https://github.com/fence-lizards-2014/NewWorldRadio', target='_blank') here
            | .
          p.explanation
            | This project was built using Ruby, Rails, RSpec, Capybara, Javascript, JQuery, PostgreSQL, and the Youtube and Echonest APIs.
    #contact.container-fluid
      .row.text-center
        h3.underline Contact
        .col-lg-3.col-xs-3
          a(href='https://twitter.com/Demolisho', target='_blank')
            i.fa.fa-twitter.fa-5x
        .col-lg-3.col-xs-3
          a(href='https://www.linkedin.com/pub/clark-hinchcliff/6/b27/887', target='_blank')
            i.fa.fa-linkedin-square.fa-5x
        .col-lg-3.col-xs-3
          a(href='http://www.github.com/clarkgh', target='_blank')
            i.fa.fa-github-alt.fa-5x
        .col-lg-3.col-xs-3
          a(href='mailto:clarkhinchcliff@gmail.com', target='_blank')
            i.fa.fa-envelope.fa-5x