doctype html
html
  head
    title= title
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico")
    link(rel="stylesheet" type="text/css" href="/styles/main.css")
        
  body
    block content

    script(src="scripts/main.js" type="/text/javascript")